﻿@model se700.Models.RecipeModels.RecipeModel

@{
    ViewBag.Title = "Create new recipe";
    string instruction = "Add a step";
    string ingredient = "Add an ingredient";
    ViewBag.UnitEnums = se700.Models.RecipeModels.Ingredients.Ingredient.GetSearchOptions();
}
@Styles.Render("~/Content/Recipe-create.css")
<h2>Create</h2>

@using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { id = "recipe-form" })) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Recipe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ingredient-container">
            @Html.LabelFor(m => m.Ingredients, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5 ingredient" id="ingredient-element-0">
                <div class="single-ingredient-container">
                    <input class="text-box quantity" min="0" type="number" value="1" style="margin-left:1px" />
                    @Html.DropDownListFor(m => m.Ingredients, (IEnumerable<SelectListItem>)ViewBag.UnitEnums)
                    <input class="text-box single-line ingredient-name" type="text" value="@ingredient" />
                    <button class="add-ingredient" type="button">
                        <span class="glyphicon glyphicon-align-center glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group instruction-container">
            <div class="row instruction-element-0">
                @Html.LabelFor(model => model.Instructions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="container-fluid">
                    <div class="col-md-10">
                        <div class="instruction-desc">
                            <span>Description</span>
                            <span id="timed-label">Add a timer (Minutes)</span>
                        </div>
                        <div class="single-instruction-container">
                            <input class="text-box instruction" id="instruction" type="text" value="@instruction" />
                            <input class="text-box instruction-time" type="number" min="0" value="0" />
                            <button class="add-instruction" type="button">
                                <span class="glyphicon glyphicon-align-center glyphicon-plus-sign"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="submit-button" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/recipe.create.js")
}
