﻿@model se700.Models.RecipeModels.RecipeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this recipe?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <div class="delete-buttons">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
                <button class="btn btn-default delete-edit-options" type="button">
                    @Html.ActionLink("Go back to recipes", "Index")
                </button>
            </div>
        }
    </div>
</div>
