﻿@model se700.Models.RecipeModels.RecipeModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<h4>Standard Recipe View</h4>
<hr />
<h3>Ingredients</h3>
<ul class="ingredient-list">
    @{
        foreach (var i in Model.Ingredients) {
            <li>
                <span class="label label-primary"><text>@i.GetPlainText()</text></span>
            </li>
        }
    }
</ul>
<h3>Instructions</h3>
<ol class="instruction-list">
    @{
        try {
            foreach (var i in Model.Instructions) {
                <li>
                    <text>@i.Description</text>
                </li>
            }
        } catch (NullReferenceException r) {
            <li>No Instructions.</li>
        }
    }
</ol>
<hr />
<p>
    <ul id="edit-options">
        <li id="interactive-prompt">
            @Html.ActionLink("Go Interactive", "Interactive/" + Model.ID, "Recipe", new { target ="_blank" })
        </li>
        <li>
            @Html.ActionLink("View All Recipes", "Index")
        </li>
        <li>
            @Html.ActionLink("Back to home", "Index", "Home")
        </li>
    </ul>
</p>
