﻿@model se700.Models.RecipeModels.RecipeModel
@using se700.Models.RecipeModels.Step

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutMin.cshtml";
}

@Styles.Render("~/Content/interactive-theme.css")
@* Render all scripts requried *@
@section Scripts{
    @Scripts.Render("~/Scripts/Bespoke/bespoke.min.js", "~/Scripts/Bespoke/bespoke-touch.min.js",
    "~/Scripts/Bespoke/bespoke-state.min.js", "~/Scripts/Bespoke/bespoke-scale.min.js", "~/Scripts/Bespoke/bespoke-progress.min.js",
    "~/Scripts/Bespoke/bespoke-theme-atomantic.min.js", "~/Scripts/gest.min.js", "~/Scripts/recipe.interactive.js")
}


<div>
    <article class="cookinator-interactive">
        @* quick use guide *@
        <section data-bespoke-state="plain" class="carbonfiber blue">
            <div class="box">
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <h2>Previous step</h2>
                            <div class="img-container">
                                <img src="~/Content/Images/left-hand.png" id="left" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>Start timer</h2>
                            <div class="img-container">
                                <img src="~/Content/Images/up-hand.png" id="up" />
                            </div>
                            <h2>Stop timer</h2>
                            <div class="img-container">
                                <img src="~/Content/Images/up-hand.png" id="down" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h2>Next step</h2>
                            <div class="img-container">
                                <img src="~/Content/Images/right-hand.png" id="right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box top right">
                <h4>
                    Please swipe in straight lines <br />
                    Swipe right to start the recipe
                </h4>
            </div>
        </section>
        @* Ingredient requirements page *@
        <section data-bespoke-state="plain" class="carbonfiber blue">
            <div class="box">
                <h1 class="title">@Model.Name</h1>
                <h3>In this recipe you will need:</h3>
                <div class="ingredients">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <div class="em-blue ingredient">@ingredient.GetPlainText()</div>
                    }
                </div>
            </div>
        </section>
        @* Render instruction slides *@
        @{
            int instructionNo = 1;
        }
        @foreach (var instruction in Model.Instructions)
        {
            if (instruction is TimedInstruction)
            {
                var tInstruction = instruction as TimedInstruction;

                <section data-bespoke-state="Timed" class="carbonfiber plain-colour">
                    @Model.RenderRecipeName()
                    @Model.RenderTimerBox()
                    <div class="box middle">
                        <h1>
                            @string.Format("{0}. {1}", instructionNo++, tInstruction.Description)
                        </h1>
                    </div>
                    <div class="box top">
                        <h3 class="animated tada">This instruction has a timer!</h3>
                        <p>
                            Swipe up to start timer: @Model.RenderTimer(tInstruction)
                        </p>
                    </div>
                    <div class="box bottom left navigation">
                        <div class="img-container">
                            <img src="~/Content/Images/left-hand.png" class="left-nav" />
                        </div>
                    </div>
                    <div class="box bottom navigation">
                        <div class="img-container">
                            <img src="~/Content/Images/up-hand.png" class="up-nav" />
                        </div>
                    </div>
                    <div class="box bottom right navigation">
                        <div class="img-container">
                            <img src="~/Content/Images/right-hand.png" class="right-nav" />
                        </div>
                    </div>
                </section>
            }
            else
            {
                <section data-bespoke-state="plain" class="carbonfiber blue">
                    @Model.RenderRecipeName()
                    @Model.RenderTimerBox()
                    <div class="box middle">
                        <h1>
                            @string.Format("{0}. {1}", instructionNo++, instruction.Description)
                        </h1>
                    </div>
                    <div class="box bottom left navigation">
                        <div class="img-container">
                            <img src="~/Content/Images/left-hand.png" class="left-nav" />
                        </div>
                    </div>
                    <div class="box bottom right navigation">
                        <div class="img-container">
                            <img src="~/Content/Images/right-hand.png" class="right-nav" />
                        </div>
                    </div>
                </section>
            }
        }
        @* Final slide with exit functionality. *@
        <section data-bespoke-state="plain" class="carbonfiber blue" id="final-slide">
            @Model.RenderTimerBox("top")
            <div class="box middle">
                <h1>
                    @string.Format("You've reached the end of the recipe! Swipe down to close interactive mode (only if there are no more active timers)")
                </h1>
            </div>
        </section>
    </article>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>