﻿@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Cookinator is a hands free cooking application. You can use our database or add your favourite recipes to begin your
    easy cooking experience. Timing long tasks and following instructions has <b>never</b> been easier!</p>
