﻿@model se700.Models.HomeViewModel
@{
    ViewBag.Title = "Cookinator - Hands-free recipes";
}

@* Search Bar on main page *@
    <div class="row" id="search-bar">
        @using (Html.BeginForm("Details", "Recipe", FormMethod.Post, new { id = "search-form" })) {
            <div class="container-fluid">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="search-field-container">
                        <div class="recipe-search">
                            <input type="hidden" id="value-check" value="false" />
                            <input type="hidden" id="id" name="id" value="" />
                            @Html.TextBoxFor(m => m.SearchQuery, new {id = "search-input"})
                            <button id="search-button" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            <div id="menu-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

@* Display random recipies from our database, ensuring no duplicates. *@
<div class="row">
    @if (Model.FrontPage != null)
    {
        int showRecipes = 3;
        int count = 0;

        foreach (var recipe in Model.FrontPage)
        {
            if (count < showRecipes)
            {
                var ingredientsList = recipe.Ingredients.ToArray();
                int showIngredients = 3;
                <div class="col-md-4">
                    <h2>@recipe.Name</h2>
                    @for (int i = 0; (i < recipe.Ingredients.Count && i < showIngredients); i++)
                    {
                        <p class="label-info ingredient-front-page">
                            @ingredientsList[i].Name
                        </p>
                    }
                    <p><a href="/Recipe/Details/@recipe.ID" class="btn btn-warning">Visit recipe</a></p>
                </div>
            }
            count++;
        }
    }
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Scripts/home.js")
}