@using se700.Models
@* @model SomeViewModel *@
@{ 
    ViewBag.Title = "Quick Use Guide";
}

<head>
    @Styles.Render("~/Content/Site.css");
</head>

<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="container-fluid">
        <div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-lg-offset-1 col-mg-offset-1">
            <div id="prev-action">
                <h3>Previous</h3>
                <div class="img-container">
                    <img src="~/Content/Images/swipe-left.png" />
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div id="interact-action">
                <h3>Interact</h3>
                <div class="img-container">
                    <img src="~/Content/Images/hand-still.png" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 ">
            <div id="next-action">
                <h3>Next</h3>
                <div class="img-container">
                    <img src="~/Content/Images/swipe-right.png" />
                </div>
            </div>
        </div>
    </div>
</div>                

<div class="row">
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-5 col-md-6 col-md-offset-5 col-lg-6 col-lg-offset-5">
            <div id="down-action">
                <h3>Down</h3>
                <div class="img-container">
                    <img src="~/Content/Images/swipe-down.png" />
                </div>
            </div>
        </div>
    </div>
</div>