﻿body {
    color: white;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

p {
    font-size: 20px;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.em-blue {
    display: inline-block;
    cursor: pointer;
}

.recipe-name {
    max-width: 300px;
}

.timer {
    font-size: 20px;
}

.ingredient {
    font-size: 22px;
}

.carbonfiber.plain-colour {
    background-color: #ff4704;
}

.box {
    position: absolute;
}

.bespoke-slide {
    pointer-events: auto;
}

.bespoke-progress-bar {
    height: 12px;
    border-bottom-right-radius: 10px;
    background: #fff1ce;
}

.em-grey {
    color: white;
    background-color: slategray;
    border-color: black;
    font-weight: 300;
    padding: 5px 10px;
    margin: 5px 2px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.2em;
    font-family: monospace;
    font-stretch: normal;
}

@keyframes ring {
    0% {
        transform: rotate(15deg);
    }

    25% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

.timer-active, .timer-ready, .timer-disabled {
    cursor: pointer;
}

.timer-ringing {
    cursor: pointer;
    animation-name: ring;
    animation-duration: 0.2s;
    animation-iteration-count: 48;
}

.img-container {
    width: 200px;
    height: 200px;
    position: relative;
}

.img-container img {
    width: 150px;
    height: 150px;
    position: relative;
}

#left {
    animation: left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes left {
    0% {
        left: 100px;
    }

    25% {
        left: -70px;
    }

    50% {
        left: -70px;
    }

    75% {
        left: -70px;
    }

    100% {
        left: -70px;
    }
}

#right {
    animation: right;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes right {
    0% {
        right: 100px;
    }

    25% {
        right: -70px;
    }

    50% {
        right: -70px;
    }

    75% {
        right: -70px;
    }

    100% {
        right: -70px;
    }
}

#up {
    animation: up;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes up {
    0% {
        top: 100px;
    }

    25% {
        top: -20px;
    }

    50% {
        top: -20px;
    }

    75% {
        top: -20px;
    }

    100% {
        top: -20px;
    }
}

#down {
    animation: down;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes down {
    0% {
        top: -20px;
    }

    25% {
        top: 90px;
    }

    50% {
        top: 90px;
    }

    75% {
        top: 90px;
    }

    100% {
        top: 90px;
    }
}

.left-nav {
    animation: left-nav;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes left-nav {
    0% {
        left: 60px;
    }

    25% {
        left: -42px;
    }

    50% {
        left: -42px;
    }

    75% {
        left: -42px;
    }

    100% {
        left: -42px;
    }
}

.right-nav {
    animation: right-nav;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes right-nav {
    0% {
        right: 60px;
    }

    25% {
        right: -42px;
    }

    50% {
        right: -42px;
    }

    75% {
        right: -42px;
    }

    100% {
        right: -42px;
    }
}

.up-nav {
    animation: up-nav;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes up-nav {
    0% {
        top: 60px;
    }

    25% {
        top: -20px;
    }

    50% {
        top: -20px;
    }

    75% {
        top: -20px;
    }

    100% {
        top: -20px;
    }
}


div.navigation {
    display: inline-flex;
    height: 170px;
}

div.navigation img {
    height: 100px;
    width: 100px;
}
