﻿body {
}

label {
    font-size: large;
}

.single-ingredient-container {
    border: 2px solid #ff8604;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    font-size: large !important;
}

.single-ingredient-container * {
    border: none;
}

.single-ingredient-container.dynamic input, .single-ingredient-container.dynamic button {
    margin-left: 4px;
}

.single-ingredient-container select {
    padding-top: 3px;
    padding-bottom: 4px;
}

.single-ingredient-container .quantity {
    max-width: 15%;
    min-width: 5%;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.single-ingredient-container button {
    background: none;
    border: none;
}

.single-ingredient-container button span {
    color: #ff8604;
    font-size: 25px;
    vertical-align: text-bottom;
}

.instruction-desc * {
    padding-left: 10px;
}

.instruction-desc #timed-label {
    float: right;
}

.single-instruction-container {
    display: flex;
    padding-left: 10px;
    margin-bottom: 10px;
}

.single-instruction-container * {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: groove;
    border-bottom-color: #ff8604;
}
.single-instruction-container .instruction-time {
    min-width: 5%;
    max-width: 10%;
}

.single-instruction-container .instruction {
    width: 90%;
}
.single-instruction-container input:focus {
    outline: none;
}

.single-instruction-container button {
    background: none;
    border: none;
}

.single-instruction-container button span {
    color: #ff8604;
    font-size: 25px;
    vertical-align: text-bottom;
    border-bottom-style: none;
}

.text-danger {
    color: #bd100d;
}