﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

body {
    height: 100%;
}

.page-content {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Footer CSS */
.body-content footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
}

/* Navbar CSS */
.navbar .container {
    background-color: #ffbf79;
    border-radius: 10px;
}

.navbar-header .navbar-brand {
    background-color: #ff8404;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #ffffff;
    font-weight: bolder;
    text-shadow: 1px 2px 1px slategrey;
}

.navbar-nav > li > a {
    color: floralwhite;
    text-shadow: 1px 2px 1px slategrey;
}

    .navbar-nav > li > a:hover {
        background-color: #ff9e37;
    }

.navbar-toggle .icon-bar {
    background: white !important;
    display: block;
    border-radius: 10px;
    box-shadow: 1px 1px 1px slategrey;
}

/* Search bar CSS */
#search-bar {
    margin-top: 20px;
    background: whitesmoke;
    border-radius: 12px;
    padding: 40px;
}

#recommended {
    padding-top: 10px;
}

.search-field-container {
    background: #fff3f3;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
}

#search-input {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: none;
    width: 94%;
    border-radius: 5px;
    font-size: x-large;
    height: 55px;
}

    #search-input:focus {
        outline-color: #ff8604;
    }

@media only screen and (max-width: 1200px) {
    #search-button {
        display: none;
    }

    #search-input {
        width: 100%;
    }
}

#search-button {
    padding: 11px;
    min-width: 50px;
    float: right;
    min-height: 55px;
    width: 6%;
    font-weight: bold;
    background-color: #337ab7;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

    #search-button span {
        font-weight: bold;
        color: white;
        font-size: 15px;
    }

/* Home page list of recipes CSS */
.ingredient-front-page {
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    background-color: #0085B2;
}

p .btn-warning {
    text-shadow: 1px 2px 1px slategrey;
}


/* Autocomplete list CSS */
.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu {
    padding-left: 0px;
    font-size: 15px;
    list-style: none;
    display: block;
    margin-bottom: 0px;
}

.ui-menu-item {
    cursor: pointer;
    padding: 5px;
}

    .ui-menu-item:focus, .ui-menu-item:hover {
        background: #ff8404;
    }

/* Recipe details page CSS*/
.ingredient-list > li {
    display: inline-block;
    font-size: large;
}

#edit-options > li {
    display: inline-flex;
    background-color: #ff8604;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 1px 2px 1px slategrey;
}

#interactive-prompt {
    background-color: #0085B2 !important;
    text-shadow: 1px 1px 1px slategrey !important;
}

    #interactive-prompt a {
        font-weight: bold;
    }

#edit-options a {
    color: white;
}

/* Delete recipe page CSS */
.form-actions > .delete-edit-options {
    background-color: #ff8604;
    padding: 5px;
    border-radius: 5px;
    list-style-type: none;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    text-shadow: 1px 2px 1px slategrey;
}

    .form-actions > .delete-edit-options a {
        color: white;
    }

.form-action > .delete-edit-options:hover {
    background-color: #ff8604 !important;
}

.form-actions > input {
    background-color: red !important;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px slategrey;
}

.form-actions > .btn:hover {
    text-decoration: underline;
    color: white;
}
